<form #searchForm="ngForm" class="roomSearchContainer" novalidate>
    <mat-form-field class="fromInputDiv">
        <mat-label>Room</mat-label>
        <input matInput type="text" [(ngModel)]="roomDetails.name" name="name" #name="ngModel" required>
    </mat-form-field>
    <span *ngIf="name.invalid && name.touched" [ngStyle]="{'color':'red'}">Enter Room
    </span>
    <mat-form-field class="fromInputDiv">
        <mat-label>Choose a Location</mat-label>
        <input matInput type="text" [(ngModel)]="roomDetails.location" name="location" #location="ngModel" required>
    </mat-form-field>
    <span *ngIf="location.invalid && location.touched" [ngStyle]="{'color':'red'}">Enter Location
        Name</span>
    <mat-form-field class="fromInputDiv">
        <mat-label>Seats</mat-label>
        <input matInput type="tel" min="1" max="20" name="seats" [(ngModel)]="roomDetails.seats" name="seats" #seats="ngModel"
            required>
    </mat-form-field>
    <span *ngIf="seats.invalid && seats.touched" [ngStyle]="{'color':'red'}">Enter Seats
    </span>
    <div class="sliderContainer">
        <div>
            <label for="" class="labelCss">Select Features</label>
        </div>
        <div class="sliderBtn">
            <label class="feature labelCss">LAN</label>
            <mat-slide-toggle [color]="color" name="lan" [checked]="roomDetails.lanAvailable"></mat-slide-toggle>
        </div>

        <div class="sliderBtn">
            <label class="feature labelCss">Conference Phone</label>
            <mat-slide-toggle [color]="color" name="phone" [checked]="roomDetails.voipAvailable"></mat-slide-toggle>
        </div>

        <div class="sliderBtn">
            <label class="feature labelCss">Video</label>
            <mat-slide-toggle [color]="color" name="video" [checked]="roomDetails.videoAvailable"></mat-slide-toggle>
        </div>

        <div class="sliderBtn">
            <label class="feature labelCss">White Board</label>
            <mat-slide-toggle [color]="color" name="whiteboard" [checked]="roomDetails.whiteBoardAvailable">
            </mat-slide-toggle>
        </div>
    </div>

    <button [disabled]="!searchForm.valid" mat-raised-button class="searchBtn" color="primary"
        (click)="getSubmitMsg()">Submit</button>
</form>