<form #searchForm="ngForm" class="roomSearchContainer" novalidate>
    <mat-form-field class="fromInputDiv">
        <mat-label>Room</mat-label>
        <input matInput type="text" [(ngModel)]="roomDetails.name" name="name" #name="ngModel" required>
    </mat-form-field>
    <span *ngIf="name.invalid && name.touched" [ngStyle]="{'color':'red'}">Enter Room
    </span>
    <mat-form-field class="fromInputDiv">
        <mat-label>Choose a Location</mat-label>
        <input matInput type="text" [(ngModel)]="roomDetails.location" name="location" #location="ngModel" required>
    </mat-form-field>
    <span *ngIf="location.invalid && location.touched" [ngStyle]="{'color':'red'}">Enter Location
        Name</span>
    <app-input-stepper [(counter)]="roomDetails.seats"></app-input-stepper>
    <div class="sliderContainer">
        <div>
            <label for="" class="labelCss">Select Features</label>
        </div>
        <div class="sliderBtn">
            <label class="feature labelCss">LAN</label>
            <mat-slide-toggle [color]="color" name="lan" [checked]="roomDetails.lanAvailable"></mat-slide-toggle>
        </div>

        <div class="sliderBtn">
            <label class="feature labelCss">Conference Phone</label>
            <mat-slide-toggle [color]="color" name="phone" [checked]="roomDetails.voipAvailable"></mat-slide-toggle>
        </div>

        <div class="sliderBtn">
            <label class="feature labelCss">Video</label>
            <mat-slide-toggle [color]="color" name="video" [checked]="roomDetails.videoAvailable"></mat-slide-toggle>
        </div>

        <div class="sliderBtn">
            <label class="feature labelCss">White Board</label>
            <mat-slide-toggle [color]="color" name="whiteboard" [checked]="roomDetails.whiteBoardAvailable">
            </mat-slide-toggle>
        </div>
        <div class="progress" *ngIf="progress">
            <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
        </div>
        <div>
            <label class="feature labelCss">Add a photo</label>
        </div>
        <div (click)='openBottomSheet()' class='imageDiv cameraButton'>
            <input *ngIf='showUploadImageIcon' class='uploadImage' type='image' [src]='uploadImage' alt='uploadImage'>
        </div>
        <div *ngIf='showCameraIconDiv' class="cameraIconDiv">
            <mat-icon (click)='openBottomSheet()' class='cameraIcon'>camera_enhance</mat-icon>
        </div>
    </div>
        <section>
            <ion-button [disabled]="!searchForm.valid" type="submit" id='submitbtn' (click)="getSubmitMsg()" expand="block">
                Submit
            </ion-button>
        </section>
</form>