.google_icon {
    width: 35px;
    padding-right: 10px;
}

.mainContainer {
    margin: 16% 0%;
}

.appName, .googleButtonDiv {
    text-align: center;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.googleBtn {
    border-radius: 30px;
    width: 100%;
}

.scroll {
    overflow: hidden;
}

.googleButtonDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -64px;
}