.google_icon{
    width: 35px;
    padding-right: 10px;
}
.mainContainer{
    margin: 32% 0%;
}
.appName, .googleButtonDiv{
    text-align: center;
}
.googleBtn{
    border-radius: 30px;
    width: 80%;
}