.imageWidth {
    height: 50px;
    width: 50px;
}

.column {
    float: left;
    width: 50%;
    padding: 15px 56px;
    margin-bottom: 0px;
}

.galleryLabel {
    text-align: center;
    margin-left: 4px;
}

.cameraLabel {
    text-align: center;
    margin-left: 2px;
}