<div>
    <p>Allow camrea access and storage access to add photos and videos</p>
    <p>When we use your camera and storage so that you can take or upload photos and videos</p>
    <mat-checkbox>Allow this Meeting app to access your camera and skip this steps in future</mat-checkbox>
    <mat-checkbox>Allow this Meeting app to access your storage and skip this steps in future</mat-checkbox>
    <div class='column'>
        <button mat-raised-button class='accessButton'>
            Not now
        </button>
    </div>
    <div class='column'>
        <button mat-raised-button color="primary" class='accessButton'>
            Allow access
        </button>
    </div>
</div>