@import '../../shared/swipe-to-reveal.css';
.fab-bottom-right {
  position: fixed;
  left: auto;
  bottom: 5%;
  right: 10%;
}

.swipe-box {
  --swipebox-height: 70px;
}

.mat-card-header {
  display: block;
}

.maticon-Edit {
  margin-right: 35px;
}

.mat-card-content {
  margin-left: 16px;
}

.shimmerTitle {
  margin-bottom: 31px;
}

.ionicListContainer.ng-star-inserted.hydrated.ionicListContainer {
  height: 89px;
  margin-top: 10px;
  padding: 4px 9px;
  border: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  box-shadow: 2px 3px 3px #ddd;
}

.locationListItem {
  height: 61px !important;
}

.locationEditOptions {
  height: 77px !important;
}

.locationListContainer .ionIcon {
  font-size: 18px !important;
}

.addScroll {
  padding-top: 0px;
  display: block;
  overflow-y: auto;
  max-height: 91vh;
  padding-bottom: 20px;
}

.ionTitle {
  margin-bottom: 13px;
}