<mat-card (click)="fnNavigateToLocation(location)" class="listContainer" *ngFor="let location of locations">
    <mat-card-header>
        <mat-card-title>{{location.buildingName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span>{{location.city}},{{location.country}}</span>
    </mat-card-content>
</mat-card>
<div class="container">
    <a routerLink="/location-details" routerLinkActive="active" ><button class="btn"><i class="fa fa-plus fa-xs"></i></button></a>  
 </div>