@import '../../shared/swipe-to-reveal.css';

.fab-bottom-right {
  position: fixed;
  left: auto;
  bottom: 5%;
  right: 10%;
}
.swipe-box {
  --swipebox-height: 70px;
}
.mat-card-header {
  display: block;
}
.maticon-Edit {
  margin-right: 35px;
}
.mat-card-content {
margin-left: 16px;
}
.hydrated {
  visibility: inherit;
  margin-bottom: 27px;
}