.listContainer {
  width: 90%;
  margin: 0px auto;
  margin-top: 10px;
  padding: 10px 10px;
  border: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  box-shadow: 2px 3px 3px #ddd;
}

.container {
  width: 60px;
  position: fixed;
  bottom: 48px;
  right: 48px;
  margin-left: 0px;
  margin-top: 0px;
}

.fab-bottom-right {
  position: fixed;
  left: auto;
  bottom: 5%;
  right: 10%;
}