.listContainer {
  width: 90%;
  margin: 0px auto;
  margin-top: 10px;
  padding: 10px 10px;
  border: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  box-shadow: 2px 3px 3px #ddd;
}

.avatarImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatarName {
  position: relative;
  top: -36px;
  margin-left: 61px;
}

.shimmerAvatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.shimmerHeader {
  display: flex !important;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-top: 6px;
}

.shimmerTitle {
  width: 100%;
  margin-top: 19px;
  padding-left: 8px;
}

.ionicListContainer.ng-star-inserted.hydrated.ionicListContainer {
  height: 150px;
  margin-top: 10px;
  padding: 4px 4px;
  border: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  box-shadow: 2px 3px 3px #ddd;
}

.ionContent {
  padding: 0;
  top: -17px;
  margin-left: 8px;
}

.addScroll {
  display: block;
  overflow-y: auto;
  max-height: 94vh;
  padding-bottom: 20px;
  padding-top: 0px;
}
.shimmerCard{
  height:150px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 0px;
}