<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]=""></ion-back-button>
        </ion-buttons>
        <ion-title>Room List</ion-title>
    </ion-toolbar>
</ion-header>
<ion-list class='addScroll'>
    <ion-item-sliding *ngFor="let room of rooms let i = index" (click)="navigateToMeetingDetails(room)"
        routerDirection="forward" class="ionicListContainer">
        <ion-item class='ionItem'>
            <ion-label class='ionLabel'>
                <div class="avatarSection">
                    <img mat-card-avatar alt="RoomImage" src="assets/{{room.image}}">
                </div>
                <div class='imageColumn'>
                    <ion-card-subtitle>{{room.name}}</ion-card-subtitle>
                    <ion-card-subtitle>Seats: {{room.seats}}</ion-card-subtitle>
                </div>
                <div class='detailsClass'>
                    <span>Room Details</span>
                </div>
                <ul class="featureList">
                    <li>Phone No: <a href="tel:{{room.phoneNo}}">{{room.phoneNo}}</a></li>
                    <li>Floor: {{room.floor}}</li>
                    <li>Building Id: {{room.buildingId}}</li>
                </ul>
                <div class="featuresDiv">
                    <img class="features {{room.voipAvailable ? '' : 'disableFeature'}}" alt="Call"
                        src="assets/2052-512.png">
                </div>
                <div class="featuresDiv">
                    <img class="features {{room.videoAvailable ? '' : 'disableFeature'}}" alt="Video"
                        src="assets/camcorder-512.png">
                </div>
                <div class="featuresDiv">
                    <img class="features {{room.lanAvailable ? '' : 'disableFeature'}}" alt="Ethernet"
                        src="assets/ethernet_on1600.png">
                </div>
                <div class="featuresDiv">
                    <img class="features {{room.whiteBoardAvailable ? '' : 'disableFeature'}}" alt="WhiteBoard"
                        src="assets/43338.png">
                </div>
            </ion-label>
        </ion-item>
        <ion-item-options side="end" (click)="navigateToMeetingDetails(room)">
            <ion-item-option color="primary" class='ionOption'>
                <ion-icon name="pencil-outline" class='ionIcon'></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start" (click)="delete($event)">
            <ion-item-option color="danger" class='ionOption'>
                <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

<div *ngIf="conditionalFilter" class="filterIcon">
    <img alt="Filter" src="assets/filter_alt-24px.svg" (click)="openDialog();">
</div>
<div class="listHeader">
    <mat-card class="listContainer" *ngFor="let room of rooms let i = index">
        <div class="swipe-box" id="{{'swipeBoxId_' +i}}" [attr.rowNo]="i">
            <div class="swipe-box__scroller">
                <div class="swipe-box__item observe-item" style="display: block;">
                    <div class="mail-action mail-action--archive">
                        <div>
                            <mat-icon class="maticon">
                                <em class="material-icons md-48" (click)="navigateToMeetingDetails(room)">edit</em>
                            </mat-icon>
                        </div>
                        <div>
                            <mat-icon>
                                <em class="material-icons md-48" (click)="delete($event)">delete</em>
                            </mat-icon>
                        </div>
                    </div>
                </div>
                <mat-card-header *ngIf='showSkeletion else hideSkeletion' (click)="navigateToMeetingDetails(room)"
                    class="swipe-box__item wrapped animated">
                    <div class="avatarSection">
                        <img mat-card-avatar alt="RoomImage" src="assets/{{room.image}}">
                    </div>
                    <div class='imageColumn'>
                        <mat-card-title>{{room.name}}</mat-card-title>
                        <mat-card-subtitle>Seats: {{room.seats}}</mat-card-subtitle>
                    </div>
                    <div>
                        <span>Room Details</span>
                    </div>
                    <ul class="featureList">
                        <li>Phone No: <a href="tel:{{room.phoneNo}}">{{room.phoneNo}}</a></li>
                        <li>Floor: {{room.floor}}</li>
                        <li>Building Id: {{room.buildingId}}</li>
                    </ul>
                    <div class="featuresDiv">
                        <img class="features {{room.voipAvailable ? '' : 'disableFeature'}}" alt="Call"
                            src="assets/2052-512.png">
                    </div>
                    <div class="featuresDiv">
                        <img class="features {{room.videoAvailable ? '' : 'disableFeature'}}" alt="Video"
                            src="assets/camcorder-512.png">
                    </div>
                    <div class="featuresDiv">
                        <img class="features {{room.lanAvailable ? '' : 'disableFeature'}}" alt="Ethernet"
                            src="assets/ethernet_on1600.png">
                    </div>
                    <div class="featuresDiv">
                        <img class="features {{room.whiteBoardAvailable ? '' : 'disableFeature'}}" alt="WhiteBoard"
                            src="assets/43338.png">
                    </div>
                </mat-card-header>
                <ng-template #hideSkeletion>
                    <ion-card-header class="swipe-box__item wrapped animated shimmerHeader">
                        <div class="avatarSection">
                            <ion-card-title>
                                <ion-skeleton-text animated class='shimmerAvatar'></ion-skeleton-text>
                            </ion-card-title>
                        </div>
                        <div class='shimmerContents'>
                            <ion-card-title>
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-card-title>
                            <ion-card-subtitle>
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-card-subtitle>
                        </div>
                        <div>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </div>
                        <ion-card-content class='shimmerCon'>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-card-content>
                        <ion-card-content class='shimmerCon'>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-card-content>
                        <ion-card-content class='shimmerCon'>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-card-content>
                        <ion-card-title class='shimmerIcons'>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-card-title>
                    </ion-card-header>
                </ng-template>
            </div>
        </div>
    </mat-card>
</div>
</ion-list>
<ion-fab *ngIf="conditionalFabIcon" class="fab-bottom-right" vertical="bottom" horizontal="end"
    routerLink="/room-details" routerLinkActive="active">
    <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

