<!-- <a mat-raised-button href="/room-details">Room Details</a> -->

<mat-card class="example-card listContainer" *ngFor="let test  of test let i = index">
    <mat-card-header>
        <mat-card-title>{{test.name}}</mat-card-title>
        <mat-card-subtitle>Seats: {{test.seats}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <span>Room Details</span>
        </div>
        <ul class="featureList">
            <li>Phone No: <a href="tel:{{test.phoneNo}}">{{test.phoneNo}}</a></li>
            <li>Floor: {{test.floor}}</li>
            <li>Building Id: {{test.buildingId}}</li>
        </ul>
    </mat-card-content>
    <div class="featuresDiv">
        <img class="features {{test.voipAvailable ? '' : 'disableFeature'}}" src="../assets/2052-512.png">
    </div>
    <div class="featuresDiv">
        <img class="features {{test.videoAvailable ? '' : 'disableFeature'}}" src="../assets/camcorder-512.png">
    </div>
    <div class="featuresDiv">
        <img class="features {{test.lanAvailable ? '' : 'disableFeature'}}" src="../assets/ethernet_on1600.png">
    </div>
    <div class="featuresDiv">
        <img class="features {{test.whiteBoardAvailable ? '' : 'disableFeature'}}" src="../assets/43338.png">
    </div>
</mat-card>