.seats {
    float: right;
}

.listContainer {
    width: 90%;
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px 10px;
    border: 1px solid #eee;
    border-bottom: 1px solid #aaa;
    box-shadow: 2px 3px 3px #ddd;
}

.featuresDiv {
    display: inline-block;
}

.features {
    width: 30px;
    border: 1px solid;
    padding: 5px;
    border-radius: 40px;
    margin-right: 10px;
}

.disableFeature {
    opacity: 0.2;
}

.mat-card-header-text {
    margin: 0px 0px !important;
}

.featureList {
    padding: 0px 0px 0px 24px;
}

.fab-bottom-right {
    position: fixed;
    left: auto;
    bottom: 5%;
    right: 10%;
}

.filterIcon {
    text-align: right;
    padding-right: 16px;
    padding-top: 11px;
}

.filterIcon>img {
    border: 1px solid #555;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.fab-bottom-right {
    position: fixed;
    left: auto;
    bottom: 5%;
    right: 10%;
}

.swipe-box {
    --swipebox-height: 207px;
    height: var(--swipebox-height);
    overflow: hidden;
}

.swipe-box__scroller {
    scroll-snap-type: x mandatory;
}

.swipe-box__scroller {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow-x: overlay;
    overflow-y: hidden;
    position: relative;
}

.swipe-box__item.observe-item {
    z-index: 100;
    width: 20%;
}

.swipe-box__item {
    scroll-snap-stop: always;
    scroll-snap-align: center;
}

.swipe-box__item {
    height: var(--swipebox-height);
}

.mail-action--archive {
    --mail-action-color: #eee;
    margin-right: 2px;
}

.mail-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 24px;
    background-color: var(--mail-action-color);
}

.mat-card-header-text {
    margin: 0px -63px;
}

.swipe-box__item.wrapped.animated {
    position: absolute;
    left: 20%;
    padding: 5px 0 0 5px;
    height: 100%;
    border-bottom: 2px solid #ccc;
    margin-left: 12px;
    width: 100%
}

.mat-card-header {
    display: block;
}

.swipe-box__scroller::-webkit-scrollbar-thumb {
    background: transparent !important;
}

.swipe-box__scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}

.swipe-box__scroller::-webkit-scrollbar {
    background-color: transparent;
}

.swipe-box__scroller::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px transparent;
    background-color: transparent;
}