<!--<div style="height: 80vh;">
  <mat-toolbar>
    <button *ngIf="displayHeading === 'show' ; else showBackButton" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-template #showBackButton>
      <mat-icon *ngIf="displayHeading === 'hide';else showAdminsOnly" (click)="goBack()">arrow_back</mat-icon>
    </ng-template>
    <ng-template #showAdminsOnly>
    </ng-template>
    <span [ngClass]="'textAlign'">{{ title }}</span>
    <span class="example-spacer"></span>
    <div *ngIf="showProfileImage" mat-card-avatar>
      <img *ngIf='showProfileImageIcon' [routerLink]="['/profile']" alt="profilePic" class="UserImage"
        (error)="imageOnError($event)" src='{{user?.profilePic}}'>
    </div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" [routerLink]="['/location-list']" mat-list-item>Locations</a>
        <a (click)="sidenav.toggle();fnNavigateRoomList();" mat-list-item>Meeting Rooms</a>
        <a (click)="sidenav.toggle()" [routerLink]="['/user-list']" mat-list-item>Users</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="scroll">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>-->
<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>

        <ion-list lines="none">
          <ion-list-header>
            Menu
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/location-list" routerLinkActive="active" routerDirection="forward" detail="false">
              <ion-icon slot="start" name="location"></ion-icon>
              <ion-label>
                Locations
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item (click)="fnNavigateRoomList();" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="storefront-outline"></ion-icon>
              <ion-label>
                Meeting Rooms
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/user-list" routerLinkActive="active" routerDirection="forward" detail="false" button
              detail="false">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>
                Users
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item>
              <ion-icon slot="start" name="moon-outline"></ion-icon>
              <ion-label>
                Dark Mode
              </ion-label>
              <ion-toggle [(ngModel)]="dark" (ionChange)="changeMode($event)"></ion-toggle>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
        <ion-list lines="none">
          <ion-list-header>
            Update to Profile
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/profile" routerLinkActive="active" routerDirection="forward" detail="false" button
              detail="false">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Update
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item button detail="false" (click)='signOut()'>
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>