html, body {
    height: 100vh;
    margin: 0;
}

mat-sidenav-container {
    height: 100vh;
}

.example-spacer {
    flex: 1 1 auto;
}

.textAlign {
    text-align: center;
    margin-left: 10px;
}

.UserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    line-height: 40px;
}

.menu-spacer {
    flex: 1 1 auto;
}

