.datePickerDiv {
  width: 100%;
  /* background-color: #fff; */
}

.fab-bottom-right {
  position: fixed;
  left: auto;
  bottom: 5%;
  right: 10%;
}
.appMeetingList {
  display: block;
  overflow-y: auto;
  max-height: 80vh;
  padding-bottom: 20px;
}
@media(max-width: 320px) {
.appMeetingList {
 padding-bottom: 50px;
}
}