<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Meetings</ion-title>
    </ion-toolbar>
</ion-header>
<mat-form-field appearance="fill" class="datePickerDiv">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="onCalendarChange($event)" [formControl]="todayDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<app-meeting-list class="appMeetingList"></app-meeting-list>
<ion-fab class="fab-bottom-right" vertical="bottom" horizontal="end" routerLink="/room-list"
    (click)="fabIconValidation();" routerLinkActive="active" routerDirection="forward" detail="false">
    <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>