<div class="container">
  <form>
    <div class="form-group mt-3">
      <label for="title">Meeting Title:</label>
      <input type="text" class="form-control" id="usr" name = "Title" [(ngModel)]="meeting.name">
    </div>

    <div class="form-group mt-2">
      <label for="title">Location:</label>
      <p>{{meeting.location}}</p>
    </div>

    <div class="form-group">
      <label for="title">Room:</label>
      <p>{{meeting.room}}</p>
    </div>
    
    <div class="form-group">
      <label for="title">Meeting Date & Time:</label>
      <p>{{meetingSchedule}}</p>
    </div>

    <div class="form-group">
      <label for="title">Seats:</label>
      <input type="number" class="form-control" id="myNumber" name = "seats" [(ngModel)]="meeting.seats">
    </div>
    <div class="center">
      <button mat-raised-button class="searchBtn" color="primary" routerLink="/my-meetings" (click)="getSubmitMsg()">Submit Meeting</button>
    </div> 
  </form>

</div>