.center {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font: 500 17px/32px Roboto, "Helvetica Neue", sans-serif;
}

.searchBtn {
    width: 100%;
    height: 51px;
    border-radius: 100px;
}

.formWidth {
    width: 100%;
}

.seatsMeeting {
    margin-left: 1px;
    padding-top: 6px
}

.submitBtn {
    margin: 16px;
}