<div class="container">
  <form #meetingForm="ngForm" novalidate>
    <mat-form-field class="example-full-width">
      <mat-label>Meeting Title </mat-label>
      <input matInput name="title" #title="ngModel" required [(ngModel)]="meeting.name">
    </mat-form-field>
    <span *ngIf="title.invalid && title.touched" [ngStyle]="{'color':'red'}">Enter Meeting Detail</span>
    <mat-form-field class="example-full-width">
      <mat-label>Location</mat-label>
      <input matInput disabled [value]="meeting.location">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Room</mat-label>
      <input matInput disabled [value]="meeting.room">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Meeting Date & Time</mat-label>
      <input matInput disabled [value]="meetingSchedule">
    </mat-form-field>

    <div class="input-group">
      <label>Seats</label>
      <input id="minusBtn" [disabled]="this.titleChange.disabledMinus" type="button" value="-" class="button-minus"
        (click)="this.titleChange.updateSeatValue($event);" data-field="seats">
      <input type="number" id="mynum" min="1" max="20" #mynum="ngModel" value="1" [(ngModel)]="meeting.seats" name="mynum"
        class="seats-field" required>
      <input id="plusBtn" type="button" value="+" class="button-plus" (click)="this.titleChange.updateSeatValue($event);"
        data-field="seats">
    </div>
    <span *ngIf="mynum.invalid && mynum.touched" [ngStyle]="{'color':'red'}">Enter Seats</span>

    <div class="center">
      <button [disabled]="!meetingForm.valid" mat-raised-button class="searchBtn" color="primary"
        (click)="getSubmitMsg()">Submit Meeting</button>
    </div>
  </form>

</div>