<div class="container">
  <form #meetingForm="ngForm" novalidate>
    <mat-form-field class="example-full-width">
      <mat-label>Meeting Title </mat-label>
      <input matInput name="title" #title="ngModel" required [(ngModel)]="meeting.name">
    </mat-form-field>
    <span *ngIf="title.invalid && title.touched" [ngStyle]="{'color':'red'}">Enter Meeting Detail</span>
    <mat-form-field class="example-full-width">
      <mat-label>Location</mat-label>
      <input matInput disabled [value]="meeting.location">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Room</mat-label>
      <input matInput disabled [value]="meeting.room">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Meeting Date & Time</mat-label>
      <input matInput disabled [value]="meetingSchedule">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Seats</mat-label>
      <input matInput type="number" name="seats" #seats="ngModel" required [(ngModel)]="meeting.seats">
    </mat-form-field>
    <span *ngIf="seats.invalid && seats.touched" [ngStyle]="{'color':'red'}">Enter Seats</span>
    <div class="center">
      <button [disabled]="!meetingForm.valid" mat-raised-button class="searchBtn" color="primary"
        (click)="getSubmitMsg()">Submit Meeting</button>
    </div>
  </form>

</div>