.roomSearchContainer {
  padding: 5%;
}

.datePickerDiv {
  width: 100%;
}

.fromTimeInput, .toTimeInput, .seatsInput {
  width: 100%;
  height: 51px;
  border: none;
  border-bottom: 3px solid #c5c5c5;
  background-color: rgba(0, 0, 0, .04);
}

.seatsSection, .locationDiv {
  padding-bottom: 18px;
}

.fromTimeDiv, .toTimeDiv {
  display: inline-block;
  width: 48%;
}

.toTimeDiv {
  margin-left: 10px;
}

.labelCss {
  font: 500 17px/32px Roboto, "Helvetica Neue", sans-serif;
}

.sliderBtn {
  padding-top: 15px;
}

.sliderContainer {
  margin-bottom: 40px;
}

.searchBtn {
  width: 100%;
  height: 51px;
  border-radius: 100px;
}

.feature {
  width: 83%;
}

.fromInputDiv {
  width: 100%;
}