<button class="close" mat-button (click)="closeDialogBox();">X</button>
<form #searchForm="ngForm" (ngSubmit)="fnNavigateToRoomList()" class="roomSearchContainer" novalidate>
    <ion-item>
        <ion-label position="floating">Choose a Locaton</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="roomSearch.location" name="locations">
            <ion-select-option *ngFor="let location of locations" [value]="location">{{location}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Choose a date</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" [min]=minDate max="2050-31-31" [value]=minDate [(ngModel)]="minDate"
            name='chooseDate'>
        </ion-datetime>
    </ion-item>
    <div class="form-outline">
        <div class="fromTimeDiv">
            <mat-form-field class="fromInputDiv">
                <mat-label>From</mat-label>
                <input matInput [ngxTimepicker]="fromtime" [(ngModel)]="roomSearch.fromTime" name="fromSlot"
                    [min]="roomSearch.fromTime" #fromSlot="ngModel" required>
                <ngx-material-timepicker #fromtime></ngx-material-timepicker>
            </mat-form-field>
            <span *ngIf="fromSlot.invalid && fromSlot.touched" [ngStyle]="{'color':'red'}">Enter From Time</span>
        </div>
        <div class="toTimeDiv">
            <mat-form-field class="fromInputDiv">
                <mat-label>To</mat-label>
                <input matInput [ngxTimepicker]="totime" [(ngModel)]="roomSearch.toTime" name="toSlot"
                    [min]="roomSearch.toTime" #toSlot="ngModel" required>
                <ngx-material-timepicker #totime></ngx-material-timepicker>

            </mat-form-field>
            <span *ngIf="toSlot.invalid && toSlot.touched" [ngStyle]="{'color':'red'}">Enter To Time</span>
        </div>
    </div>
    <app-input-stepper [(counter)]="roomSearch.seats"></app-input-stepper>
    

    <div class="sliderContainer">
        <ion-item>
            <ion-label class="labelCss">Select Features</ion-label>
        </ion-item>
        <ion-item class="sliderBtn">
            <ion-label class="feature labelCss">LAN</ion-label>
            <ion-toggle [(ngModel)]="roomSearch.lanAvailable" name="lan" color="medium" checked>
            </ion-toggle>
        </ion-item>
        
        <ion-item class="sliderBtn">
            <ion-label class="feature labelCss">Conference Phone</ion-label>
            <ion-toggle [(ngModel)]="roomSearch.voipAvailable" name="voip" color="medium" checked>
            </ion-toggle>
        </ion-item>
        
        <ion-item class="sliderBtn">
            <ion-label class="feature labelCss">Video</ion-label>
            <ion-toggle [(ngModel)]="roomSearch.videoAvailable" name="video" color="medium" checked>
            </ion-toggle>
        </ion-item>
        
        <ion-item class="sliderBtn">
            <ion-label class="feature labelCss">White Board</ion-label>
            <ion-toggle [(ngModel)]="roomSearch.whiteBoardAvailable" name="whiteboard" color="medium" checked>
            </ion-toggle>
        </ion-item>
    </div>
    <section>
        <ion-button [disabled]="!searchForm.valid" type="submit" id='submitbtn' expand="block">Search
        </ion-button>
    </section>
</form>