<div class="wrapper">
    <form class="locationDetailsForm">
        <mat-form-field class="example-full-width">
            <mat-label>Building Name :</mat-label>
            <input matInput value={{buildingName}}>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>city :</mat-label>
            <input matInput value={{city}}>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>city :</mat-label>
            <input matInput value={{city}}>
        </mat-form-field>

        <div class="form-group center">
            <a mat-raised-button routerLink="/location-list" (click)="getSubmitMsg()">Submit</a>
        </div>
    </form>
</div>