<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]=""></ion-back-button>
        </ion-buttons>
        <ion-title>Location Details</ion-title>
    </ion-toolbar>
</ion-header>
<div class="wrapper">
    <form class="locationDetailsForm" #LocationDetailsForm="ngForm" novalidate>
        <ion-item class="detailsDiv">
            <ion-label position='floating'>Building Name :</ion-label>
            <ion-input type="text" [(ngModel)]="buildingName" name="BuildingName" #BuildingName="ngModel" required></ion-input>
        </ion-item>
        <span *ngIf="BuildingName.invalid && BuildingName.touched" [ngStyle]="{'color':'red'}">Enter Building
            Name</span>
        <ion-item class="detailsDiv">
            <ion-label position='floating'>City </ion-label>
            <ion-input type="text" [(ngModel)]="city" name="CityName" #CityName="ngModel" required></ion-input>
        </ion-item>
        <span *ngIf="CityName.invalid && CityName.touched" [ngStyle]="{'color':'red'}">Enter City Name</span>
        <ion-item class="detailsDiv">
            <ion-label position='floating'>Country </ion-label>
            <ion-input type="text" [(ngModel)]="country" name="CountryName" #CountryName="ngModel" required></ion-input>
        </ion-item>
        <span *ngIf="CountryName.invalid && CountryName.touched" [ngStyle]="{'color':'red'}">Enter Country Name</span>
        
        <section class='submitButton'>
            <ion-button [disabled]="!LocationDetailsForm.valid" routerLink="/location-list" type="submit" id='submitbtn'
                (click)="getSubmitMsg()" expand="block">
                Submit
            </ion-button>
        </section>
    </form>
</div>