

.feature{
  width: 83%;
}

.labelCss{
  font-family: 'Roboto';
  font-size: 18px;
   font-weight: 500;
}

.wrapper {
  display: flex; 
  justify-content: center;
  min-height: 100%;
  padding: 20px;
}
.center {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.locationDetailsForm{
  width : 100%
}

.city {
  width: 100%;
  /* background-color: #fff; */
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}