.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
}

.center {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationDetailsForm {
  width: 100%
}

.city {
  width: 100%;
}

.detailsDiv {
  width: 100%;
}

.searchBtn {
  width: 100%;
  height: 51px;
  border-radius: 100px;
}