<div class="input-group">
    <ion-label>Seats</ion-label>
    <ion-icon id="minusBtn" [attr.disabled]="disabledMinus" class="button-minus" (click)="updateSeatValue($event);"
        data-field="seats" name="remove-circle-outline"></ion-icon>
    <input type="number" id="mynum" min="1" max="20" #mynum="ngModel" value="1" [(ngModel)]="counter" name="mynum"
        class="seats-field" (blur)="updateSeatValue($event);">
    <ion-icon id="plusBtn" class="button-plus" (click)="updateSeatValue($event);" data-field="seats"
        name="add-circle-outline"></ion-icon>
</div>
<span *ngIf="mynum.invalid && mynum.touched" [ngStyle]="{'color':'red'}">Enter Seats</span>