<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]=""></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>
<ion-list class="ionList">
    <p class="text-center"> {{user?.displayName}} </p>
    <div class="formFieldClass text-center profileImageContainer">
        <img class="profileImage" alt="profilePic" src='{{user?.profilePic}}'>
    </div>
    <ion-item class="formFieldClass">
        <ion-label position='floating'>EmailId</ion-label>
        <ion-input disabled value='{{user?.emailId}}'></ion-input>
    </ion-item>
    <ion-item class="formFieldClass">
        <ion-label position='floating'>Phone</ion-label>
        <ion-input type='number' value='{{user?.phoneNum}}'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Choose a Locaton</ion-label>
        <ion-select interface="action-sheet" [value]='user?.location'>
            <ion-select-option *ngFor="let location of locations" [value]="location">{{location}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <section class='ionSection'>
        <ion-button id='submitbtn' expand="block" (click)="clickUpdate()" routerDirection="backward">Update
        </ion-button>
    </section>
</ion-list>