<div class="profileContainer">
    <form class="mainForm">
        <p class="text-center"> {{user?.firstName}} {{user?.lastName}} </p>
        <div class="formFieldClass text-center profileImageContainer">
            <img class="profileImage" alt="profilePic" src='{{user?.profilePic}}'>
        </div>
        <mat-form-field class="formFieldClass">
            <mat-label>EmailId</mat-label>
            <input matInput disabled value='{{user?.email}}'>
        </mat-form-field>
        <mat-form-field class="formFieldClass">
            <mat-label>Phone </mat-label>
            <input matInput value='{{user?.phoneNum}}'>
        </mat-form-field>
        <mat-form-field class="formFieldClass">
            <mat-label>Choose a Locaton</mat-label>
            <mat-select [value]='user?.location'>
                <mat-option *ngFor="let location of locations" [value]="location">
                    {{location}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="submitButton" (click)="clickUpdate()">Update</button>
        <button mat-raised-button class="signoutButton" (click)="signOut()">Sign out</button>
    </form>
</div>