@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';
@import 'typeface-roboto';
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

/* .ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;    
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;     
} */

.timepicker-overlay, .timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

.cdk-overlay-pane {
  max-width: 100% !important;
}

.ion-page {
  display: block !important;
}

.backgroundFade {
  opacity: 0;
}

.item-options-start .ionOption:first-child, .item-options-end .ionOption:last-child {
  width: 75px !important;
}

.item-options-start, .item-options-end {
  padding: 12px 10px;
}

.item-options-start .ionIcon.hydrated, .item-options-end .ionIcon.hydrated {
  font-size: 24px;
}

.ionItem.item.in-list.ion-focusable.hydrated.item-label {
  left: -18px;
  height: 250px;
  top: 1px;
}

body.darkMode {
  background: #000;
}

.deleteOption {
  font-size: 24px !important;
}

.mat-button-wrapper {
  color: #4c8dff;
}